/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lightgray;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
/*This is the css for the element containing the news headlines and text,
    the more advanced css prevents this element automatically not displaying
    if it has no contents, therefore use JS to hide it on those select pages.
*/
#news {
    background-color: lightblue;
    padding: 10px;
    border: 4px inset navy;
    border-radius: 35px;
}
/*The image of the assignment requirements*/
#captureImg 
{
    border: 2px dashed black;
}
/*Github clickable image*/
#gitImg 
{
    width: 300px;
    height: 225px;
    border: 5px inset purple;
    border-radius: 50px;
}
/*Found myself giving multiple pieces of text this font so made a class*/
.newsTitle 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Centers the headline and body in the container*/
.newsContainer
{
    text-align:center;
}
/*little joke line with a strikethrough I kept, got its own ID when moved to external css*/
#gitPageStrikethroughP
{
    text-decoration: line-through
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
